---
import { pie } from "d3-shape";
import type { DonutSegment } from "../../data/charts";
import { donutData } from "../../data/charts";

const cx = 200;
const cy = 155;
const r = 100;
const circumference = 2 * Math.PI * r;
const labelRadius = 165;

const pieLayout = pie<DonutSegment>()
	.value((d) => d.percent)
	.sort(null);

const arcs = pieLayout(donutData);

const slices = arcs.map((arc, i) => {
	const segLen =
		((arc.endAngle - arc.startAngle) / (2 * Math.PI)) * circumference;
	const dashArray = `${segLen} ${circumference - segLen}`;
	const dashOffset = -(arc.startAngle / (2 * Math.PI)) * circumference;
	const midAngle = (arc.startAngle + arc.endAngle) / 2 - Math.PI / 2;
	const lx = cx + labelRadius * Math.cos(midAngle);
	const ly = cy + labelRadius * Math.sin(midAngle);
	return {
		...arc.data,
		dashArray,
		dashOffset,
		i,
		lx: Math.round(lx),
		ly: Math.round(ly),
		anchor: (lx > cx ? "start" : "end") as "start" | "end",
	};
});
---

<svg
	id="tax-donut-svg"
	role="img"
	aria-labelledby="donut-svg-title"
	viewBox="-30 -10 460 340"
	xmlns="http://www.w3.org/2000/svg"
>
	<title id="donut-svg-title">Where Corporate Profits Are Shifted</title>
	<desc>
		Donut chart showing corporate profit shifting destinations: UK Dependencies
		23%, Netherlands 22%, Bermuda/Cayman 18%, Luxembourg 15%, Ireland 12%,
		Other 4%.
	</desc>
	{slices.map((s) => (
		<circle
			class="donut-segment"
			data-index={s.i}
			data-dasharray={s.dashArray}
			cx={cx}
			cy={cy}
			r={r}
			fill="none"
			stroke={s.color}
			stroke-width="60"
			stroke-dasharray={s.dashArray}
			stroke-dashoffset={s.dashOffset}
			transform={`rotate(-90 ${cx} ${cy})`}
		/>
	))}
	{slices.map((s) => (
		<text
			x={s.lx}
			y={s.ly}
			fill="#888"
			font-size="7"
			text-anchor={s.anchor}
		>
			{s.label} ({s.percent}%)
		</text>
	))}
</svg>
